gender-guesser==0.4.0
matplotlib
streamlit
numpy>=1.18.5
pandas
xmltodict
urllib3
seaborn>=0.11.0
streamlit-lottie
plotly
streamlit-extras>=0.2.4
pandas-profiling
great-expectations
streamlit-pandas-profiling
openpyxl
datetime
snowflake-connector-python
snowflake-sqlalchemy
altair
st-clickable-images==0.0.3
humanize
scipy>=0.15.1
scikit-learn>=0.18
matplotlib>=1.4.3
